<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
       
    <!-- Server Configuration -->
    <add key="TwitchBot.ChatServer" value="irc.twitch.tv" />
    <add key="TwitchBot.Port" value="6667" />

    <!-- Login Configuration -->
    <!-- Convert your password to OAuth using this link: https://twitchapps.com/tmi/ -->
    <add key="TwitchBot.OAuth" value="OAUTH STRING W/O THE oauth:" />
    <add key="TwitchBot.Nickame" value="YOUR BOT'S USER NAME" />

    <!-- Application Configuration -->
    <add key="TwitchBot.ChannelName" value="THE CHANNEL NAME" />
    <add key="TwitchBot.BotName" value="FRIENDLY NAME OF THE BOT" />
    <add key="TwitchBot.IgnoreSelf" value="true" />
    
    
  </appSettings>
</configuration>